/* Reset & basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
  background: rgb(18, 18, 116);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); /* overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: purple;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: rgb(223, 62, 223);
}


@media (max-width: 1024px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
  .hero p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 28px;
  }
  .hero p {
    font-size: 14px;
  }
  .hero-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
