body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #6a6666;
    }

    /* Navbar */
    nav {
      background: #333;
      color: white;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    nav .logo {
      font-weight: bold;
    }
    nav ul {
      display: flex;
      list-style: none;
      gap: 15px;
    }
    nav ul li a {
      color: white;
      text-decoration: none;
    }

    /* Hero */
    .hero {
      background: url('https://via.placeholder.com/1200x600') no-repeat center/cover;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    .hero h1 {
      font-size: 36px;
    }
    .hero p {
      font-size: 18px;
    }

    /* Projects */
    .projects {
      padding: 40px 20px;
      text-align: center;
    }
    .projects h2 {
      margin-bottom: 30px;
    }
    .project-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
    .project-card {
      background: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      position: relative;
    }
    .project-card p{
        font-weight: 600;
        font-family: serif;
        color: rgb(148, 63, 63);
    }
    .project-card img {
      width: 100%;
      border-radius: 5px;
      margin: 10px;
      display: none;
    }
    /* Show image on hover */
    .project-card:hover .project-img {
     display: block;
     position: absolute;
     top: 50px;
     left: 50%;
     transform: translateX(-50%);
     width: 200px;
     border-radius: 8px;
     z-index: 10;
     box-shadow: 0px 5px 15px black;
    }


    /* Footer */
    footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 15px;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .project-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 480px) {
      .project-grid {
        grid-template-columns: 1fr;
      }
      .hero h1 {
        font-size: 28px;
      }
      .hero p {
        font-size: 14px;
      }
      nav ul {
        flex-direction: column;
        gap: 10px;
      }
    }